.newSignup__section {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    flex-wrap: wrap;
    background: #EDE4AD;
    color: #333333;
}

.newSignup__section h3 {
    font-size: 2rem;
    color: #333333;
}

.newSignup__section-benefits {
    padding-left: 2rem;
    max-width: 500px;
    width: 100%;
    align-self: flex-start;
    justify-self: center;
    margin-bottom: 1rem;
}

.newSignup__section-form {
    max-width: 500px;
    width: 100%;
    margin-bottom: 2rem;
}