.leaderLogin__form h3 {
    color: #fff;
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
    text-align: center;
}


.leaderLogin__form li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: .5rem
}

.leaderLogin__form > li > label {
    flex: 1 0 100px;
    color: #fff;
    font-size: 1.2rem;
}

.leaderLogin__form > li > label + * {
    flex: 1 0 220px;
}

.button__container {
    justify-content: flex-end;
}

.leaderLogin__form li button:first-of-type {
    margin-right: .5rem;
}

.leaderLogin__form li button {
    padding: 12px 24px;
    border: none;
    background: #4ab3dd;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.leaderLogin__form li button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px 5px #333333;
}

.leaderLogin__form li input {
    padding: 15px;
    border: 1px solid #00000025;
    border-radius: 5px;
}