.teamstats__widget {
    background: #fff;
    margin: 1rem 0;
    box-shadow: 1px 3px 10px #33333363;
}

.teamstats__widget--header {
    background-color: #26495E;
    color: white;
    padding: .3rem;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.teamstats__widget--content {
    padding: 1rem;
    font-size: 1.1rem;
    color: rgb(34, 34, 34);
}

.teamstats__widget--content h3 {
    font-size: 1.5rem;
}

.teamstats__widget--content h4 {
    font-size: 1.2rem;
}

.teamstats__widget--count {
    font-size: 1.4rem;
    margin-left: .4rem;
}