.signup__form li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: .5rem
}

.signup__form > li > label {
    flex: 1 0 100px;
}

.signup__form > li > label + * {
    flex: 1 0 220px;
}

.signup__form li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.signup__form li button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px 5px #333333;
}

.signup__form li input {
    padding: 15px;
    border: none;
}

.formError {
    color: #D62246;
    max-width: 320px;
    width: 100%;
    text-align: right;
    margin-left: auto;
}