.landingpage__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4rem;
    background-color: #4D2C48;
    background-size: cover;
}

.landingpage__header-message {
    align-self: center;
    color: #fff;
    font-size: 2rem;
    line-height: 1;
}

.memberJoin__btn {
    margin: 1.5rem auto;
    align-self: center;
    padding: 12px 24px;
    border: none;
    background: #4ab3dd;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.memberJoin__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px 5px #333333;
}