.admin__events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.admin__events-list {
    flex: 2;
}

.admin__events-form {
    flex: 1;
}

.admin__alerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.admin__alerts-members {
    flex: 2;
}

.admin__dashboard-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.admin__dashboard-main--left {
    flex: 2;
}

.admin__dashboard-main--right {
    flex: 1;
    padding: 0 1rem;
}