.main__nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #26575E;
}

.main__nav h1 {
    color: #fff;
    align-self: center;
}

.main__nav-login button {
    margin: 0 .5rem;
    padding: 12px 24px;
    border: none;
    background: #4ab3dd;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.main__nav-login button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px 5px #333333;
}