.main__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #26575E;
}

.main__nav h1 {
    color: #fff;
    font-size: 2rem;
    align-self: center;
}

.main__nav-login button,
.main__nav-logout button {
    margin: 0 .5rem;
    padding: 12px 24px;
    border: none;
    background: #4ab3dd;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.main__nav-login button:hover,
.main__nav-logout button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px 5px #333333;
}

@media all and (max-width: 455px) {
    .main__nav {
        flex-direction: column;
    }

    .main__nav-login button,
    .main__nav-logout button {
        margin: .5rem auto;
        width: 100%;
    }
}